In [5]:
import pandas as pd
df = pd.read_csv('./data/hacker_news.csv')
print(df)

             id                                              title  \
0      12224879                          Interactive Dynamic Video
1      11964716  Florida DJs May Face Felony for April Fools' W...
2      11919867       Technology ventures: From Idea to Enterprise
3      10301696  Note by Note: The Making of Steinway L1037 (2007)
4      10482257  Title II kills investment? Comcast and other I...
...         ...                                                ...
20094  12379592  How Purism Avoids Intels Active Management Tec...
20095  10339284          YC Application Translated and Broken Down
20096  10824382  Microkernels are slow and Elvis didn't do no d...
20097  10739875                      How Product Hunt really works
20098  11680777  RoboBrowser: Your friendly neighborhood web sc...

                                                     url  num_points  \
0                http://www.interactivedynamicvideo.com/         386
1      http://www.thewire.com/entertainment/2013/04/f...           2
2      https://www.amazon.com/Technology-Ventures-Ent...           3
3      http://www.nytimes.com/2007/11/07/movies/07ste...           8
4      http://arstechnica.com/business/2015/10/comcas...          53
...                                                  ...         ...
20094  https://puri.sm/philosophy/how-purism-avoids-i...          10
20095  https://medium.com/@zreitano/the-yc-applicatio...           4
20096  http://blog.darknedgy.net/technology/2016/01/0...         169
20097  https://medium.com/@benjiwheeler/how-product-h...         695
20098              https://github.com/jmcarp/robobrowser         182

       num_comments         author        created_at
0                52       ne0phyte    8/4/2016 11:52
1                 1       vezycash   6/23/2016 22:20
2                 1        hswarna    6/17/2016 0:01
3                 2     walterbell    9/30/2015 4:12
4                22         Deinos   10/31/2015 9:48
...             ...            ...               ...
20094             6  AdmiralAsshat    8/29/2016 2:22
20095             1       zreitano   10/6/2015 14:57
20096           132    vezzy-fnord     1/2/2016 0:49
20097           222          brw12  12/15/2015 19:32
20098            58      pmoriarty    5/12/2016 1:43

[20099 rows x 7 columns]

In [7]:
print(df.head())

         id                                              title  \
0  12224879                          Interactive Dynamic Video
1  11964716  Florida DJs May Face Felony for April Fools' W...
2  11919867       Technology ventures: From Idea to Enterprise
3  10301696  Note by Note: The Making of Steinway L1037 (2007)
4  10482257  Title II kills investment? Comcast and other I...

                                                 url  num_points  \
0            http://www.interactivedynamicvideo.com/         386
1  http://www.thewire.com/entertainment/2013/04/f...           2
2  https://www.amazon.com/Technology-Ventures-Ent...           3
3  http://www.nytimes.com/2007/11/07/movies/07ste...           8
4  http://arstechnica.com/business/2015/10/comcas...          53

   num_comments      author       created_at
0            52    ne0phyte   8/4/2016 11:52
1             1    vezycash  6/23/2016 22:20
2             1     hswarna   6/17/2016 0:01
3             2  walterbell   9/30/2015 4:12
4            22      Deinos  10/31/2015 9:48

In [9]:
print(df.tail())

             id                                              title  \
20094  12379592  How Purism Avoids Intels Active Management Tec...
20095  10339284          YC Application Translated and Broken Down
20096  10824382  Microkernels are slow and Elvis didn't do no d...
20097  10739875                      How Product Hunt really works
20098  11680777  RoboBrowser: Your friendly neighborhood web sc...

                                                     url  num_points  \
20094  https://puri.sm/philosophy/how-purism-avoids-i...          10
20095  https://medium.com/@zreitano/the-yc-applicatio...           4
20096  http://blog.darknedgy.net/technology/2016/01/0...         169
20097  https://medium.com/@benjiwheeler/how-product-h...         695
20098              https://github.com/jmcarp/robobrowser         182

       num_comments         author        created_at
20094             6  AdmiralAsshat    8/29/2016 2:22
20095             1       zreitano   10/6/2015 14:57
20096           132    vezzy-fnord     1/2/2016 0:49
20097           222          brw12  12/15/2015 19:32
20098            58      pmoriarty    5/12/2016 1:43

In [11]:
print(df.shape)

(20099, 7)

In [13]:
print(df.columns)

Index(['id', 'title', 'url', 'num_points', 'num_comments', 'author',
       'created_at'],
      dtype='object')

In [17]:
print(df['author'])

0             ne0phyte
1             vezycash
2              hswarna
3           walterbell
4               Deinos
             ...
20094    AdmiralAsshat
20095         zreitano
20096      vezzy-fnord
20097            brw12
20098        pmoriarty
Name: author, Length: 20099, dtype: object

In [19]:
print(df['author'].describe())

count     20099
unique    10382
top       ingve
freq        198
Name: author, dtype: object

In [21]:
import pandas as pd
import numpy as np
data = [
    {"Name": "Asabeneh", "Country":"Finland","City":"Helsinki"},
    {"Name": "David", "Country":"UK","City":"London"},
    {"Name": "John", "Country":"Sweden","City":"Stockholm"}]
df = pd.DataFrame(data)
print(df)

       Name  Country       City
0  Asabeneh  Finland   Helsinki
1     David       UK     London
2      John   Sweden  Stockholm

In [23]:
weights = [74,78,69]
df['Weight'] = weights
df

       Name  Country       City  Weight
0  Asabeneh  Finland   Helsinki      74
1     David       UK     London      78
2      John   Sweden  Stockholm      69

In [33]:
heights = [1.73, 1.75, 1.69]
df['Height'] = heights
print(df)

       Name  Country       City  Weight  Height  BMI
0  Asabeneh  Finland   Helsinki      74    1.73  0.0
1     David       UK     London      78    1.75  0.0
2      John   Sweden  Stockholm      69    1.69  0.0

In [35]:
def calculate_bmi ():
    weights = df['Weight']
    heights = df['Height']
    bmi = []
    for w,h in zip(weights, heights):
        b = w/(h*h)
        bmi.append(b)
    return bmi
    
bmi = calculate_bmi()

In [37]:
df['BMI'] = bmi
df

       Name  Country       City  Weight  Height        BMI
0  Asabeneh  Finland   Helsinki      74    1.73  24.725183
1     David       UK     London      78    1.75  25.469388
2      John   Sweden  Stockholm      69    1.69  24.158818

In [39]:
df['BMI'] = round(df['BMI'], 1)
print(df)

       Name  Country       City  Weight  Height   BMI
0  Asabeneh  Finland   Helsinki      74    1.73  24.7
1     David       UK     London      78    1.75  25.5
2      John   Sweden  Stockholm      69    1.69  24.2

In [41]:
birth_year = ['1769', '1985', '1990']
current_year = pd.Series(2020, index=[0, 1,2])
df['Birth Year'] = birth_year
df['Current Year'] = current_year
df

       Name  Country       City  Weight  Height   BMI Birth Year  Current Year
0  Asabeneh  Finland   Helsinki      74    1.73  24.7       1769          2020
1     David       UK     London      78    1.75  25.5       1985          2020
2      John   Sweden  Stockholm      69    1.69  24.2       1990          2020

In [43]:
print(df.Weight.dtype)

int64

In [45]:
df['Birth Year'] = df['Birth Year'].astype('int')
print(df['Birth Year'].dtype) # let's check the data type now

int64

In [49]:
df['Current Year'] = df['Current Year'].astype('int32')
df['Current Year'].dtype

dtype('int32')

In [51]:
ages = df['Current Year'] - df['Birth Year']
ages

0    251
1     35
2     30
dtype: int64

In [53]:
df['Ages'] = ages
df

,Name,Country,City,Weight,Height,BMI,Birth Year,Current Year,Ages
0,Asabeneh,Finland,Helsinki,74,1.73,24.7,1769,2020,251
1,David,UK,London,78,1.75,25.5,1985,2020,35
2,John,Sweden,Stockholm,69,1.69,24.2,1990,2020,30

In [57]:
df[df['Ages'] > 120]

,Name,Country,City,Weight,Height,BMI,Birth Year,Current Year,Ages
0,Asabeneh,Finland,Helsinki,74,1.73,24.7,1769,2020,251

In [59]:
import pandas as pd
df = pd.read_csv('./data/hacker_news.csv')
print(df)

             id                                              title  \
0      12224879                          Interactive Dynamic Video
1      11964716  Florida DJs May Face Felony for April Fools' W...
2      11919867       Technology ventures: From Idea to Enterprise
3      10301696  Note by Note: The Making of Steinway L1037 (2007)
4      10482257  Title II kills investment? Comcast and other I...
...         ...                                                ...
20094  12379592  How Purism Avoids Intels Active Management Tec...
20095  10339284          YC Application Translated and Broken Down
20096  10824382  Microkernels are slow and Elvis didn't do no d...
20097  10739875                      How Product Hunt really works
20098  11680777  RoboBrowser: Your friendly neighborhood web sc...

                                                     url  num_points  \
0                http://www.interactivedynamicvideo.com/         386
1      http://www.thewire.com/entertainment/2013/04/f...           2
2      https://www.amazon.com/Technology-Ventures-Ent...           3
3      http://www.nytimes.com/2007/11/07/movies/07ste...           8
4      http://arstechnica.com/business/2015/10/comcas...          53
...                                                  ...         ...
20094  https://puri.sm/philosophy/how-purism-avoids-i...          10
20095  https://medium.com/@zreitano/the-yc-applicatio...           4
20096  http://blog.darknedgy.net/technology/2016/01/0...         169
20097  https://medium.com/@benjiwheeler/how-product-h...         695
20098              https://github.com/jmcarp/robobrowser         182

       num_comments         author        created_at
0                52       ne0phyte    8/4/2016 11:52
1                 1       vezycash   6/23/2016 22:20
2                 1        hswarna    6/17/2016 0:01
3                 2     walterbell    9/30/2015 4:12
4                22         Deinos   10/31/2015 9:48
...             ...            ...               ...
20094             6  AdmiralAsshat    8/29/2016 2:22
20095             1       zreitano   10/6/2015 14:57
20096           132    vezzy-fnord     1/2/2016 0:49
20097           222          brw12  12/15/2015 19:32
20098            58      pmoriarty    5/12/2016 1:43

[20099 rows x 7 columns]

In [63]:
df.head(5)

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,8/4/2016 11:52
1,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,6/23/2016 22:20
2,11919867,Technology ventures: From Idea to Enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3,1,hswarna,6/17/2016 0:01
3,10301696,Note by Note: The Making of Steinway L1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8,2,walterbell,9/30/2015 4:12
4,10482257,Title II kills investment? Comcast and other I...,http://arstechnica.com/business/2015/10/comcas...,53,22,Deinos,10/31/2015 9:48

In [65]:
df.tail(5)

,id,title,url,num_points,num_comments,author,created_at
20094,12379592,How Purism Avoids Intels Active Management Tec...,https://puri.sm/philosophy/how-purism-avoids-i...,10,6,AdmiralAsshat,8/29/2016 2:22
20095,10339284,YC Application Translated and Broken Down,https://medium.com/@zreitano/the-yc-applicatio...,4,1,zreitano,10/6/2015 14:57
20096,10824382,Microkernels are slow and Elvis didn't do no d...,http://blog.darknedgy.net/technology/2016/01/0...,169,132,vezzy-fnord,1/2/2016 0:49
20097,10739875,How Product Hunt really works,https://medium.com/@benjiwheeler/how-product-h...,695,222,brw12,12/15/2015 19:32
20098,11680777,RoboBrowser: Your friendly neighborhood web sc...,https://github.com/jmcarp/robobrowser,182,58,pmoriarty,5/12/2016 1:43

In [69]:
s = pd.Series(df['title'])
s

0                                Interactive Dynamic Video
1        Florida DJs May Face Felony for April Fools' W...
2             Technology ventures: From Idea to Enterprise
3        Note by Note: The Making of Steinway L1037 (2007)
4        Title II kills investment? Comcast and other I...
                               ...
20094    How Purism Avoids Intels Active Management Tec...
20095            YC Application Translated and Broken Down
20096    Microkernels are slow and Elvis didn't do no d...
20097                        How Product Hunt really works
20098    RoboBrowser: Your friendly neighborhood web sc...
Name: title, Length: 20099, dtype: object

In [71]:
df.column()

AttributeError: 'DataFrame' object has no attribute 'column'

In [73]:
df.columns

Index(['id', 'title', 'url', 'num_points', 'num_comments', 'author',
       'created_at'],
      dtype='object')

In [75]:
len(df.columns)

7

In [77]:
df.rows

AttributeError: 'DataFrame' object has no attribute 'rows'

In [79]:
df.describe()

                 id    num_points  num_comments
count  2.009900e+04  20099.000000  20099.000000
mean   1.131755e+07     50.296632     24.803025
std    6.964531e+05    107.110322     56.108639
min    1.017691e+07      1.000000      1.000000
25%    1.070172e+07      3.000000      1.000000
50%    1.128452e+07      9.000000      3.000000
75%    1.192613e+07     54.000000     21.000000
max    1.257898e+07   2553.000000   1733.000000

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20099 entries, 0 to 20098
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            20099 non-null  int64
 1   title         20099 non-null  object
 2   url           17659 non-null  object
 3   num_points    20099 non-null  int64
 4   num_comments  20099 non-null  int64
 5   author        20099 non-null  object
 6   created_at    20099 non-null  object
dtypes: int64(3), object(4)
memory usage: 1.1+ MB

In [85]:
rows, columns = df.shape

In [87]:
print(rows, columns)

20099 7

In [91]:
print(df[df['title'].str.contains('Python', case=False, na=False)])

             id                                              title  \
102    10974870                From Python to Lua: Why We Switched
103    11244541          Ubuntu 16.04 LTS to Ship Without Python 2
144    10963528  Create a GUI Application Using Qt and Python i...
196    10716331  How I Solved GCHQ's Xmas Card with Python and ...
436    11895088  Unikernel Power Comes to Java, Node.js, Go, an...
...         ...                                                ...
19597  12061177  David Beazley  Python Concurrency from the Gro...
19852  10988468    Ask HN: How to automate Python apps deployment?
19862  11738470                          Moving Away from Python 2
19980  12524656                      Python vs. Julia Observations
19998  11735438  Show HN: Decorating: Animated pulsed for your ...

                                                     url  num_points  \
102    https://www.distelli.com/blog/using-lua-for-ou...         243
103    http://news.softpedia.com/news/ubuntu-16-04-lt...           2
144                        http://digitalpeer.com/s/c63e          21
196    http://matthewearl.github.io/2015/12/10/gchq-x...           6
436    http://www.infoworld.com/article/3082051/open-...           3
...                                                  ...         ...
19597        https://www.youtube.com/watch?v=MCs5OvhV9S4           2
19852                                                NaN           4
19862  https://asmeurer.github.io/blog/posts/moving-a...         227
19980  https://medium.com/@Jernfrost/python-vs-julia-...           2
19998             https://github.com/ryukinix/decorating           3

       num_comments        author        created_at
102             188      chase202   1/26/2016 18:17
103               1       _snydly    3/8/2016 10:39
144               1        zoodle   1/24/2016 19:01
196               1          kipi  12/11/2015 10:38
436               1  syslandscape   6/13/2016 16:23
...             ...           ...               ...
19597             1      bakery2k    7/9/2016 13:05
19852            18       aalhour   1/28/2016 14:55
19862           275     ngoldbaum   5/20/2016 15:14
19980             1   blacksmythe    9/18/2016 9:54
19998             1         lerax    5/20/2016 3:48

[160 rows x 7 columns]

In [93]:
print(df[df['title'].str.contains('JavaScript', case=False, na=False)])

             id                                              title  \
267    12352636   Show HN: Hire JavaScript - Top JavaScript Talent
580    10871330  Python integration for the Duktape Javascript ...
811    10741251  Ask HN: Are there any projects or compilers wh...
1046   11343334  If you write JavaScript tools or libraries, bu...
1093   10422726  Rollup.js: A next-generation JavaScript module...
...         ...                                                ...
19349  11448301    Fotorama, a responsive JavaScript photo gallery
19548  12105148                 Another Kind of JavaScript Fatigue
19610  12203508  Lonely programmer detective uncovers the Mozil...
19885  12552131  Ask HN: Best Practices for CSS in a Modern Jav...
20069  12149183  Show HN: Parse recipe ingredients using JavaSc...

                                                     url  num_points  \
267                              https://www.hirejs.com/           1
580               https://pypi.python.org/pypi/pyduktape           3
811                                                  NaN           1
1046   https://medium.com/@Rich_Harris/how-to-not-bre...          48
1093                                 http://rollupjs.org          57
...                                                  ...         ...
19349                                http://fotorama.io/           1
19548  http://chrismm.com/blog/the-other-kind-of-java...           9
19610         http://stackoverflow.com/a/38677222/984780          29
19885                                                NaN           6
20069       https://github.com/herkyl/ingredients-parser           6

       num_comments          author        created_at
267               1        eibrahim   8/24/2016 15:16
580               1         stefano    1/9/2016 14:26
811               2         ggonweb  12/15/2015 23:26
1046             19     callumlocke   3/23/2016 10:54
1093             17         dmmalam   10/21/2015 0:02
...             ...             ...               ...
19349             1         alexkon    4/7/2016 15:59
19548             2    JacksCracked    7/16/2016 3:44
19610             8    luisperezphd    8/1/2016 16:07
19885             6        xwvvvvwx   9/21/2016 20:53
20069             2  zongitsrinzler   7/23/2016 11:35

[170 rows x 7 columns]